input {
  position: relative;
  background-color: #1abc9c;
  border-radius: 4px;
  color: #fff;
  line-height: 52px;
  -webkit-transition: none;
  transition: none;
  box-shadow: 0 3px 0 #0e8c73;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
  padding: 0.5px 30px;
}
input:hover {
  background-color: #31c8aa;
  box-shadow: 0 3px 0 #23a188;
}
input:active {
  top: 3px;
  box-shadow: none;
}

.header {
  
  background-color: #26d0c9;
  
  color: #fff;
  
  height: 70px;
}

.header-logo {
  
  float: right;
  
  font-size: 36px;
  
  padding: 20px 40px;

  list-style-image:url("mamazon.jpg");  

}

.header-list {
  float: right;
}

li {
  list-style: none;
  float: right;
 
  padding: 13px 20px;
  
}

.header-logo {
  
  list-style: none;
 
  float: left;
 
  
  padding: 0px 80px;
  
  background:url("mamazon.jpg"); 

  width: 10%;
  hegiht: 60%;
  background-size: cover;
}